<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All trips
    </h1>

    <a href="/trips/new" class="btn btn-block btn-outline-secondary">
      Add a new trip
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        

        <th>
          Packing Lists
        </th>


 

        <th>
        </th>
      </tr>

      <% @trips.where(user_id: current_user.id).each do |trip| %>
      <tr>


        <td>
         <a href="/trips/<%= trip.id %>">
           
          <%= trip.destination + " " + trip.duration.to_s + "-day " + trip.season.capitalize + " Vacation" %>
           </a>
        </td>

       

        
      </tr>
      <% end %>
    </table>
  </div>
</div>
