<!-- Validation failure messages -->
<% if @trip.present? %>
  <% if @trip.errors.any? %>
    <% @trip.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new trip
</h1>


<hr class = "border-info">

<form action="/create_trip" method="post">

  <div class="form-group">
    <label for="destination">
      Destination
    </label>

    <input type="text" id="destination" name="destination" class="form-control border-info" value="<%= @trip.destination %>">
  </div>

  <div class="form-group">
    <label for="duration">
      Duration
    </label>

    <input type="text" id="duration" name="duration" class="form-control border-info" value="<%= @trip.duration %>" >
  </div>

  <div class="form-group border-info">
    <label for="season">
     Local Weather
    </label>

    <select name="season">
     <option value="">Select one</option>
    <option value = "winter"> Winter </option>
    <option value = "spring"> Spring </option>
     <option value = "summer"> Summer </option>
      <option value = "fall"> Fall </option>
  </select> 
  </div>

  <div class="form-group">


  <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%=current_user.id%>">
  </div>

  <button class="btn btn-block btn-outline-info">
    Create trip
  </button>
</form>

<hr class = "border-info">

<a href="/trips">
  Go back
</a>
